aside{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  gap: 1rem;
  margin: 2rem;
}
.page-content{
  position: relative;
  width: 65%;
  right: -33%;
}

@media (max-width: 1250px) {
  aside{
    position: relative !important;
    height: fit-content;
    margin: auto;
  }
  .page-content {
    width: 100%;
    right: 0;
  }
}